<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="TYPO3_PATH_ROOT" value="./"/>
    </php>
</phpunit>
